<h1 align= center style="margin-top: -8px;">Articulos</h1>

<%= link_to 'Todos', articles_path %>

<% @categories.each do |category| %>
  <%= link_to articles_path(category_id: category.id) do %>
    <%= category.name %>
  <% end %>
<% end %>


<hr>


<% @articles.each do |article| %>
    <%= link_to article_path(article.id) do %>
        <h2 style="margin-top: -8px;"><%=  article.title%></h2>
    <% end %>
    <h4><%=  article.content%></h4>
    <div>
    <% if article.image.present? %>
    <%= image_tag article.image.url, size: "400x280" %>
    <% end %>
    </div>
    <span>
    <%= article.author.name %> - 
    <%= article.category.name %> -
    <%= article.updated_at.strftime('%d/%m/%Y') %>
    </span>
    <hr>    
<% end %>
