<h1> <%= @article.title %> </h1>
<h3> <%= @article.content %> </h3>
<div>
    <% if @article.image.present? %>
    <%= image_tag @article.image.url, size: "400x280" %>
    <% end %>
</div>
<span>
    <%=  @article.author%> - 
    <%= @article.updated_at.strftime('%d/%m/%Y') %>
</span>
<b><div style="margin-top: 19px;">
<%= link_to 'Editar Articulo', edit_article_path(@article)%>
<%= link_to 'Eliminar Articulo', article_path(@article), data: { turbo_method: :delete, turbo_confirm: 'Estas seguro?' } %>
</div></b> 
