<%= form_with model: @article do |form| %>
    <% @article.errors.full_messages.each do |error| %>
        <div>
        <%= error %>
        </div>
    <% end %>
    <div style="margin-top: 5px;">
    <%= form.label :title, "Título" %>
    <%= form.text_field :title, style: "width: 418px;" %>
    </div>
    <div>
    <%= form.label :content, "Contenido" %>
    <%= form.text_area :content, style: "width: 418px; height: 168px;" %>
    </div>
    <div>
    <%= form.label :author, "Autor" %>
    <%= form.text_field :author %>
    </div>
    <div style="margin-bottom: 5px;">
    <%= form.label :category, "Categoría" %>
    <%= form.collection_select :category_id, Category.all.order(name: :asc), :id, :name %>
    </div>
    <div>
    <%= form.label :image, "Imagen" %>
    <%= form.file_field :image %>
    </div>
    <%= form.submit "Guardar" %>

<% end %>