<%= form_with model: @article do |form| %>
    <% @article.errors.full_messages.each do |error| %>
        <div>
        <%= error %>
        </div>
    <% end %>
    <div style="margin-top: 5px;">
    <%= form.label :title %>
    <%= form.text_field :title, style: "width: 418px;" %>
    </div>
    <div>
    <%= form.label :content %>
    <%= form.text_area :content, style: "width: 418px; height: 168px;" %>
    </div>
    <div>
    <%= form.label :author %>
    <%= form.text_field :author %>
    </div>
    <div style="margin-bottom: 5px;">
    <%= form.label :category %>
    <%= form.text_field :category %>
    </div>
    <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
    </div>
    <%= form.submit %>

<% end %>